<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/rent_chart.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/modernizr.js"></script>
  <script src="/javascripts/d3.min.js"></script>
  <script src="/javascripts/rickshaw.min.js"></script>
</head>

<body>

  <div class="rent-bar">
      <h1>Rental Statistics for various cities in Bay Area.</h1>
  </div>

  <div class="rent-chart">
    <svg id="rent_chart_svg"> </svg>
  </div>

  <div class="cities-col">
  <ul>
  <% for (var i=0; i<cities.length; i++) { %>
  <li class="city_item">
  <a class="city_button" hcity="<%= cities[i] %>" id="city_btn" href="#"><%= cities[i] %></a> 
  </li>
  <% } %>
  </ul>
  </div>

  <script>
  var url_parts = $(location).attr('href').split("/");
  var city = url_parts[url_parts.length-1];

  var draw_chart = function(data) {


    $("#rent_chart_svg").empty();

    var margin = {top: 100, right: 20, bottom: 30, left: 100},
        width = 960 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    var svg = d3.select("#rent_chart_svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    x.domain(data.map(function(d) { return d.bd; }));
    y.domain([0, d3.max(data, function(d) { return d.rent; })]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Rent");

    svg.selectAll(".bar")
        .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.bd); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.rent); })
        .attr("height", function(d) { return height - y(d.rent); });
  }

  $.getJSON("/rent_chart_data/" + city, function(rent_data) {
    draw_chart(rent_data);
  });

  $('.city_button').click(function() {
    var city = $(this).attr("hcity");
    $(this).parent().toggleClass("city_sel");
    console.log(city);
    $.getJSON("/rent_chart_data/" + city, function(rent_data) {
      draw_chart(rent_data);
    });
  });
  </script>

</body>
</html>
