<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/rent_chart.css" />
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
  <script src="/javascripts/modernizr.js"></script>
  <script src="/javascripts/d3.min.js"></script>
  <script src="/javascripts/rickshaw.min.js"></script>
</head>

<body>
  <script>
      $(document).foundation();
  </script>

  <nav class="top-bar foundation-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Rental Statistics for various cities in Bay Area.</a></h1>
    </li>
  </ul>
  </nav>

  <div class="row">

  <div class="large-3 push-3 columns">
  <div id="rent_chart_render"> 
  <svg id="rent_chart_svg"> </svg>
  </div>
  </div>

  <div class="large-5 pull-9 columns">
  <p class="panel">
  <% for (var i=0; i<cities.length; i++) { %>
  <a class="button round tiny" hcity="<%= cities[i] %>" id="city_btn"><%= cities[i] %></a> 
  <% } %>
  </p>
  </div>



  </div>


  <script>
  var url_parts = $(location).attr('href').split("/");
  var city = url_parts[url_parts.length-1];

  var draw_chart = function(data) {

    console.log(data);

    $("#rent_chart_svg").empty();

    var margin = {top: 100, right: 20, bottom: 30, left: 100},
        width = 960 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    var svg = d3.select("#rent_chart_svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    x.domain(data.map(function(d) { return d.bd; }));
    y.domain([0, d3.max(data, function(d) { return d.rent; })]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Rent");

    svg.selectAll(".bar")
        .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.bd); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.rent); })
        .attr("height", function(d) { return height - y(d.rent); });
  }

  $.getJSON("/rent_chart_data/" + city, function(rent_data) {
    draw_chart(rent_data);
  });

  $('.button').click(function() {
    var city = $(this).attr("hcity");
    console.log(city);
    $.getJSON("/rent_chart_data/" + city, function(rent_data) {
      draw_chart(rent_data);
    });
  });
  </script>

</body>
</html>
